.form-bottle {
    margin: 0 auto;
    width: 320px;

    label {
        font-family: $font-title;
        margin-right: 4px;
        font-size: 1.2em;
    }
    
    input[type=submit] {
        height: 32px;
        margin: 4px;
        padding: 4px 8px;
        background-color: $color-vin;
        color: $color-bg;
        font-family: $font-text;
        border-radius: 999px;
        border: none;
        box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    
    p {
        padding: 16px 0 0;
        color: $color-vin;
        text-align: center;
    }
}