.container {
    position: relative;
    width: 100%;
    padding: 24px 0;
}

.box-racks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}