.box-connect {
    margin: 24px auto;
    width: 300px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: $box-shadow-1;
}

.form-login {
    display: flex;
    flex-direction: column;

    label {
        padding-bottom: 4px;
    }

    input {
        margin-bottom: 24px;
        height: 32px;
    }

    input[type="text"] {
        background-color: $color-bg;
        border: none;
        border-bottom: 1px solid black;
    }

    input[type="number"] {
        width: 68px;
        margin: 0 auto 24px;
        font-size: 1.7em;
        text-align: center;
    }

    button {
        height: 40px;
        width: 100px;
        margin: 0 auto;
        background-color: $color-vin;
        color: $color-bg;
        border: none;
        border-radius: 999px;
        box-shadow: $box-shadow-1;
        cursor: pointer;
    }

    .error-form,
    .no-compte {
        text-align: center;
        padding-top: 24px;
        font-size: 1.2em;
    }

    .error-form {
        color: $color-vin;
    }

    .no-compte {
        span {
            color: $color-vin;
            cursor: pointer;
        }
    }
}

.loading-msg,
.error-loading-msg {
    margin: 0 auto;
    padding-top: 80px;
    font-size: 2em;
    font-family: $font-text;
    text-align: center;
}

.demonstration{
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
        height: 48px;
        width: 200px;
        border: none;
        border-radius: 999px;
        background-color: $color-vin;
        color: $color-bg;
        box-shadow: $box-shadow-1;
        cursor: pointer;
    }
}